<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form</title>
  <link rel="stylesheet" href="bootstrap.min.css">
  <link rel="stylesheet" href="./styles.css">
</head>
<body>
  <div class="login-container" style="margin-top: 20px;">
    <h2>Sign up Form</h2>
    <form>
      <div class="mb-3">
        <label for="firstName" class="form-label">First Name</label>
        <input type="text" class="form-control" id="firstName" placeholder="Enter your first name" minlength="3" maxlength="16" required>
      </div>
      <div class="mb-3">
        <label for="lastName" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="lastName" placeholder="Enter your last name" minlength="3" maxlength="16" required>
      </div>
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" placeholder="Enter your username" minlength="3" maxlength="16" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Enter your password" maxlength="16" required>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Enter your email" required>
      </div>
      <button type="button" class="btn btn-primary" onclick="signupFunction()">Login</button>
    </form>
  </div>

  <script src="./scripts.js"></script>
</body>
</html>
